{# templates/team/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Escuderías</h1>
        <p>Bienvenido a la sección de escuderías. Aquí encontrarás toda la información sobre los equipos de Fórmula 1.</p>
    </div>
{% endblock %}
