{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to the F1 Data Project</h1>
    <p>This is the main page of the project.</p>
    <!-- Add your custom content here -->
{% endblock %}